
body {
    background-color: dimgrey;
}
.color {
    color:aliceblue;
}
iframe {
    background-color: dimgray;
    border: 4px solid black;
}
.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: .5rem;
    
}

.tab{
    height: 25px;
    border-radius: 4px;
    border: 2.5px solid rgb(0, 0, 0);
    background-color: cornsilk;
    text-decoration: none;
    align-content: center;
    text-align: center;
    color:#800080;
    
    
}
a {
    text-decoration: none;
}
.current {
    height: 25px;
    border-radius: 4px;
    border: 2.5px solid rgb(0, 0, 0);
    background-color: rgb(197, 177, 223);
    text-decoration: none;
    align-content: center;
    text-align: center;
    color:#800080;
}
.two {
    display: none;
    
}
.one {
    display: block;
}
.tik_buttons{
    list-style: none;
    gap: .5rem;
    display:flex;
}